build==1.2.2.post1
click==8.1.8
et_xmlfile==2.0.0
numpy==2.2.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pip-tools==7.4.1
pyproject_hooks==1.2.0
pysam==0.22.1
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.8.0
six==1.17.0
tqdm==4.67.1
tzdata==2025.1
vcfpy==0.13.8
wheel==0.45.1
